<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <header>
        <h1>Moje Portfolio</h1>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Strona główna</a></li>
                <li><a href="{% url 'about_me' %}">O mnie</a></li>
                <li><a href="{% url 'contact' %}">Kontakt</a></li>
            </ul>
        </nav>
    </header>
    {% block content %}
    {% endblock %}
    <footer>
        <p>&copy; 2024 Moje Portfolio</p>
    </footer>
</body>
</html>